<section class="about_section" id="features" >

  <div class="row" data-aos="slide-up">
    <div class="col-md-12 text-center title" >
      <h1>How it works</h1>
    </div>

  <div class="row about-container" data-aos="slide-up">
    <div class="col-md-12 text-container">
      <div class="col-md-5 info-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
         iaculis neque nec dignissim. Integer turpis nisi, mattis et consequat
         quis, elementum vel justo. Mauris sit amet enim diam. Maecenas interdum
        eu ligula ac ultricies. Fusce auctor lorem vel interdum sodales. Donec
        eget pretium mi, at venenatis elit. libero sem volutpat arcu, ut
        fermentum ex dolor eu ex. In ultrices, dui vel euismod mattis, urna
        mauris suscipit quam, quis viverra metus ipsum id eros. Pellentesque
        dignissim sollicitudin metus, at vestibulum neque molestie vel.</p>
      </div>

      <div class="col-md-5 info-text">
        <p>Fusce sed venenatis erat, non ultrices leo. Sed molestie et diam nec
           fringilla. Vestibulum faucibus fringilla porttitor. Sed auctor eleifend
           sem, quis ultricies dolor commodo eget. Mauris eu tincidunt sapien.
           In at massa fringilla, hendrerit enim ac, rhoncus sem. Nam vel mauris
           purus. Sed semper ac erat id ultrices. Fusce blandit aliquet lectus,
            quis efficitur ipsum tincidunt quis. libero sem volutpat arcu, ut
            fermentum ex dolor eu ex. In ultrices, dui vel euismod mattis,
            urna mauris suscipit quam, quis viverra metus ipsum id eros.
            Pellentesque dignissim sollicitudin metus, at vestibulum neque
            molestie vel.</p>

        <h5 > user guide </h5>

      </div>
    </div>
  </div>

  <div class="col-md-11 features_container" >
    <div class="feature_holder" data-aos="fade-right" data-aos-delay="200" >
      <div class="feature"></div>
      <h5>dignissim sollicitudin</h5>
      <p>rhoncus sem. Nam vel mauris purus. Sed semper ac erat id ultrices.</p>
    </div>
    <div class="feature_holder" data-aos="fade-right" data-aos-delay="300" >
      <div class="feature"></div>
      <h5>at vestibulum neque</h5>
      <p>ucibus fringilla porttitor. Sed auctor eleifend sem, quis ultricies
        dolor commodo eget.</p>
    </div>
    <div class="feature_holder" data-aos="fade-right" data-aos-delay="400" >
      <div class="feature"></div>
      <h5>urna mauris</h5>
      <p>Pellentesque dignissim sollicitudin metus, at vestibulum neque.</p>
    </div>
  </div>

  </div>

</section>
