<section class="header updatepage-header" >
  <div class="col-md-12 row">
    <div class="col-md-8">logo</div>
    <div class="col-md-1">Features</div>
    <div class="col-md-1">Download</div>
    <div class="col-md-1">Feedback</div>
    <div class="col-md-1">Help</div>
  </div>
</section>
<section class="allupdates">
  <div class="description-allupdates">
    <h2> All the updates, features and bug fixes.</h2>
    <h5> Found a bug or want to suggest a feature? <span>Let me know!</span></h5>
  </div>

  <table id="example" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Bug or Feature</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21/07/2017</td>
                <td>Ut diam eros, pellentesque nec tortor ut, tempor maximus
                  magna. Nullam tellus orci, ultricies vel ullamcorper non, auctor rutru velit.</td>
                <td>Bug</td>
                <td>In progress</td>
            </tr>
            <tr>
                <td>25/07/2017</td>
                <td>Cras ut metus nulla. Donec venenatis libero quis maximus
                  ultrice.	</td>
                <td>Bug</td>
                <td>In progress</td>
            </tr>
            <tr>
                <td>2/09/2017</td>
                <td>Donec ultricies lectus fermentum, consectetur diam eu, placerat enim.	</td>
                <td>Feature</td>
                <td>Added</td>
            </tr>
        </tbody>
    </table>


</section>
