
<section class="download-section" id="download" >
  <div class="container" data-aos="slide-up">
    <div class="row">
      <div class="col-md-12 header-text">
        <h1> Get Mathison! </h1>
      </div>

      <div class="col-md-12 info-text des-download">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Fusce tincidunt iaculis neque nec dignissim. Integer turpis
          nisi, mattis et consequat quis, elementum vel justo.</h4>

        <button class="download-btn" data-aos="fade-up" data-aos-delay="400"> DOWNLOAD </button>

        <h6> View the user guide </h6>
      </div>
    </div>
  </div>
</section>
