<section class="feedback-section" id="form" >

  <div class="col-md-12 feedback-header" data-aos="slide-up">
    <h1 data-aos="slide-up" data-aos-delay="200"> Feedback </h1>
    <h4 data-aos="slide-up" data-aos-delay="300"> Leave some feedback, report a bug or suggest a feature to be added! </h4>
  </div>

  <div class="col-md-12 feedback-form-container" >

    <div class=" feedback-form" >
      <h4>Name </h4>
      <input type="text" />
      <h4> Email </h4>
      <input type="email" />

      <h4> Your comment </h4>
      <textarea rows="4" cols="50" name="comment" form="usrform"></textarea><br>
      <button type="submit" data-aos="fade-up" data-aos-delay="300"> Submit</button>
    </div>
</div>


</section>
