<div class="container">
  <section class="header">
    <div class="row">
      <div class="col-md-8">logo</div>
      <div class="col-md-1">Features</div>
      <div class="col-md-1">Download</div>
      <div class="col-md-1">Feedback</div>
      <div class="col-md-1">Help</div>
    <div class="row hero">
      <div class="col-md-12 name">Mathison</div>
      <div class="col-md-12 description"> A self learning and evolving solution
        to all your image sorting needs.
      </div>
      <div class="col-md-2 download-btn"> DOWNLOAD </div>
    </div>
  </section>
</div>
